<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<payment>
			<mj_payumoney>
				<active>1</active>
				<model>ManishJoy\PayUMoney\Model\Payment\PayUMoney</model>
				<order_status>pending_payment</order_status>
				<debug>0</debug>
				<title><![CDATA[Credit/Debit Card (PayUmoney)]]></title>
				<allowspecific>0</allowspecific>
			</mj_payumoney>
		</payment>
	</default>
</config>